[submodule "Sources/CppCodeBaseCMake"]
	path = Sources/CppCodeBaseCMake
	url = ssh://admin@DatenBunker:/share/GitRepositories/CppCodeBaseCMake.git
	branch = master
[submodule "Sources/CppCodeBaseBuildscripts"]
	path = Sources/CppCodeBaseBuildscripts
	url = ssh://admin@DatenBunker:/share/GitRepositories/CppCodeBaseBuildscripts.git
	branch = master
[submodule "Sources/CppCodeBaseJenkinsjob"]
	path = Sources/CppCodeBaseJenkinsjob
	url = ssh://admin@DatenBunker:/share/GitRepositories/CppCodeBaseJenkinsjob.git
	branch = master
[submodule "Sources/CppCodeBaseMachines"]
	path = Sources/CppCodeBaseMachines
	url = ssh://admin@DatenBunker:/share/GitRepositories/CppCodeBaseMachines.git
	branch = master
[submodule "Sources/cotire"]
	path = Sources/cotire
	url = https://github.com/Knitschi/cotire.git
	branch = master