[submodule "Sources/cotire"]
	path = Sources/cotire
	url = https://github.com/Knitschi/cotire.git
	branch = master
[submodule "Sources/CPFBuildscripts"]
	path = Sources/CPFBuildscripts
	url = ssh://admin@datenbunker:/share/GitRepositories/CPFBuildscripts.git
	branch = master
[submodule "Sources/CPFCMake"]
	path = Sources/CPFCMake
	url = ssh://admin@datenbunker:/share/GitRepositories/CPFCMake.git
	branch = master
[submodule "Sources/CPFJenkinsjob"]
	path = Sources/CPFJenkinsjob
	url = ssh://admin@datenbunker:/share/GitRepositories/CPFJenkinsjob.git
	branch = master
[submodule "Sources/CPFMachines"]
	path = Sources/CPFMachines
	url = ssh://admin@datenbunker:/share/GitRepositories/CPFMachines.git
	branch = master
[submodule "Sources/CIBuildConfigurations"]
	path = Sources/CIBuildConfigurations
	url = ssh://admin@datenbunker:/share/GitRepositories/CIBuildConfigurations.git
