Generated/**
Generated
Configuration/**
Configuration
Sources/*/cpfPackageVersion_*.cmake
.vscode/
1_Configure.py
2_Generate.py
3_Make.py
/Sources/documentation/__pycache__
/install
/2_GetDependencies.py
/3_Generate.py
/4_Make.py
